*{
  margin: 0;
  padding: 0;/* to remove the default spacing from everything */
}

body {
  font-family: Arial, sans-serif;/* the main fonts */
}

/* header */

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
  color: white;
  padding: 40px 30px; 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto; /* to center the whole header content */
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.header-logo {
  height: 60px; 
  margin-right: 30px;/*the space between the logo and text*/
}

/* desktop navigation */
.desktop-nav .nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.desktop-nav .nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
/* mobile navigation icon(will be hidden on desktop)*/
.mobile-nav {
  display: none;
  cursor:pointer;
}

.mobile-nav img {
  width: 40px;
  height: 50px;
}

/* the dropdown menu on mobile */
.mobile-menu {
  display: none;/* it will only show when the user clicks */
  position: fixed;
  top:120px; /*header height */
  bottom:0;/* stretches to bottom */
  left:0;
  width:100%;
  z-index:900;
  background-color: black;
  text-align: center;
  padding-top: 40px;
}

.mobile-menu ul li {
  list-style: none;
  padding: 20px 0;
  margin: 15px 0;
}

.mobile-menu ul li a {
  color: white;
  text-decoration: none;
  font-size:24px;
  font-weight: 600;
  cursor:pointer;
}

/* header on small screens */
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none ; /*hide the desktop menu */
  }
  .mobile-nav {
    display: block;/*show the mobile menu */
  }
  .mobile-menu{
    display:none;
  }
  .mobile-menu.active{
display:block;
}

}

/*footer*/
.footer {
  margin-top:0;
  background-color: black;
  color: white;
  padding: 40px 30px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* responsive grid */
  gap: 40px;
  align-items: start;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 30px; 
}

.footer-left .logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-logo {
  height: 60px; 
  margin-right: 20px;
}

.footer-left p {
  color: #ccc;
  font-size: 16px;
  line-height: 22px;
}

.footer-column {
  flex: 1 1 200px; /* each column can shrink/grow */
  align-items: center;
  min-width: 180px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.footer-column p,
.footer-column ul {
  color: #ccc;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
  list-style: none;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  cursor:pointer;
} 

/*social media icon in the footer */
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.social-icons a{
  cursor:pointer;
}
.instagram-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: contain;
}
 
/*bottom small text */
.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  color: #999;
  font-size: 14px;
}
/* footer on small screens */
@media (max-width: 768px) {
  .footer-container {
    align-items: center;
    text-align: center;
    gap: 25px;
  }

  .footer-left .logo {
    justify-content: center;
  }

  .footer-left p {
    text-align: center;
  }

  .footer-column {
    flex: 1 1 100%;
  }

  .footer-column ul li {
    margin-bottom: 5px;
  }
}
/* the main area */
/* the first part of the page */
.contact-hero{
  background-color: #f7f7f7;
  text-align: center;
  padding: 80px 20px;
}

.contact-hero h1{
  font-size: 48px;
  font-weight: 600;
  margin-bottom:20px;
  line-height:1.2;
}
.contact-hero p{
  font-size:20px;
  color: #555;
}


/* contact info */
.contact-info{
  padding:60px 20px;
  border-bottom:1px solid #e2e2e6;
}
.info-box{
  display:flex;
  max-width:1200px;
  margin: 0 auto;
justify-content:space-between;
gap:40px;
flex-wrap:wrap;
}
.info-card{
  display:flex;
  width:300px;
  flex-direction: column;
  text-align:center;
  align-items: center;
  margin-bottom:20px;
}

.icon-circle{
  width:64px;
  height:64px;
  border-radius:50%;
  background-color:black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:12px;
  font-size: 24px;
}
.icon-circle img{
  width:28px;
  height:28px;
  object-fit: contain;
  
}
.info-card h3{
  font-size:18px;
  font-weight:600;
  margin-bottom:8px;
}
.info-card p{
  font-size:14px;
  color:#555;
  line-height:1.4;
}
 /* form + map section */
 .form-map-section{
  padding:80px 20px;
  background-color:white;
 }
 .form-map-grid{
  max-width: 1200px;
  margin:0 auto;
  display:grid;
  grid-template-columns:1.5fr 2.5fr;
  gap:60px;
  align-items: start;
 }

 /*form */
 .contact-form{
  background-color:white ;
  padding:30px 20px;
  box-sizing: border-box;
  border-radius: 16px;
 }

 .contact-form h2{
  font-size:32px;
  margin-bottom:20px;
  font-weight:700;
 }
 .contact-form label{
display:block;
font-size:14px;
font-weight:600;
margin-bottom:8px;
 }

 .contact-form input,.contact-form textarea{
 width:100%;
 padding:16px;
 border:1px solid #ddd;
 border-radius:12px;
 font-size:15px;
 background-color: #fafafa;
 margin-bottom:20px;
 box-sizing: border-box;
 }
 .contact-form button{
  width:100%;
  padding:14px;
  font-size:16px;
  font-weight:600;
  color:white;
  background-color: black;
  border:none;
  border-radius: 10px;
  cursor:pointer;
 }
 .map-box{
  width:100%;
  height:500px;
  border-radius: 10px;
  border:1px solid #fff;
  

 }

 /* responsive contact us page */
 @media screen and (max-width:768px){
  
 
  .info-box {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }


  .form-map-grid {
    grid-template-columns: 1fr; /* stack form and map */
    gap: 30px;
  }

  /* reduce paddings */
  .contact-form {
    padding:20px;
  }

  
  .contact-hero {
    padding: 50px 15px;
  }

  .contact-hero h1 {
    font-size: 32px;
  }

  .contact-hero p {
    font-size: 16px;
  }


  .map-box {
    height: 300px;
  }
  
 }

 /*do documentation properly */