body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
  color: white;
  padding: 40px 30px; 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto; 
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.header-logo {
  height: 60px; 
  margin-right: 30px;
}


.desktop-nav .nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.desktop-nav .nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.mobile-nav {
  display: none;
}

.mobile-nav img {
  width: 40px;
  height: 50px;
}

.mobile-menu {
  display: none;
  background-color: black;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  text-align: center;
}

.mobile-menu ul li {
  list-style: none;
  padding: 20px 0;
  margin: 15px 0;
}

.mobile-menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none; 
  }
  .mobile-nav {
    display: block;
  }
}
.tabs {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.tab {
    padding: 10px 30px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 20px;
}

.tab.active {
    background: #eee;
}

.menu-section {
    padding: 20px 40px;
}

 .hidden {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
.item {
    background: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.item img {
    width: 100%;
    border-radius: 10px;
    height: 400px;
}

.price {
    font-weight: bold;
    color: #444;
}
.footer {
  margin-top:0;
  background-color: black;
  color: white;
  padding: 40px 30px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  align-items: start;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 30px; 
}

.footer-left .logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-logo {
  height: 60px; 
  margin-right: 20px;
}

.footer-left p {
  color: #ccc;
  font-size: 16px;
  line-height: 22px;
}

.footer-column {
  flex: 1 1 200px;
  align-items: center;
  min-width: 180px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.footer-column p,
.footer-column ul {
  color: #ccc;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
  list-style: none;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
} 


.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.instagram-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: contain;
}
 

.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  color: #999;
  font-size: 14px;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 25px;
  }

  .footer-left .logo {
    justify-content: center;
  }

  .footer-left p {
    text-align: center;
  }

  .footer-column {
    flex: 1 1 100%;
  }

  .footer-column ul li {
    margin-bottom: 5px;
  }
}

